html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
  padding: 20px;
}

nav {
  text-align: center;
}

nav ul {
  font-size: medium;
  font-weight: bold;
  font-family: "Poppins", sans-serif; /* Mengubah jenis font */
  display: flex;
  justify-content: flex-end; /* Menyelaraskan item ke kanan */
  list-style: none;
  padding: 0;
  color: #d7c8c8; /* Mengubah warna font menjadi putih */
}

nav li {
  margin-left: 20px; /* Memberikan spasi antar menu */
}

nav a {
  text-decoration: none;
  color: #d7c8c8; /* Mengubah warna font pada link */
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-top: 0;
}

main {
  padding: 20px;
  background-color: #d9d9d9;
  background-size: contain; /* membuat gambar menutupi seluruh elemen */
  background-repeat: no-repeat; /* menghindari pengulangan gambar */
  background-position: top; /* mengatur posisi gambar di tengah */
  /* margin-top: 80px; */
  border-radius: 2%;
}

.sec {
  background-color: #c7afaf;
  border-radius: 10px;
}

.tag1 {
  padding-top: 20px;
  margin-top: 20px; /* Menambahkan margin atas untuk menggeser ke bawah */
  text-align: center;
}

.gambar img {
  background-color: #644444;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

#about {
  display: flex;
  justify-content: bet;
  align-items: center;
  padding-top: 30px;
  padding: 100px;
  padding-bottom: 100px;
}

.about {
  text-align: left;
  padding-left: 50px;
}
section {
  text-align: center;
  margin-bottom: 20px;
}

.service {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #c7afaf;
  border-radius: 10px;
}

.service img {
  padding-top: 50px;
  width: 10%; /* Menyesuaikan lebar gambar menjadi lebih kecil */
  float: center; /* Membuat gambar melebar ke kanan */
  background-size: auto; /* Menyesuaikan ukuran background agar sesuai dengan kontainer */
}

.contact {
  background-color: #c7afaf;
  background-size: contain;
  border-radius: 10px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.contact img {
  width: 50px;
}

h2 {
  font-size: 18px;
  margin-top: 0;
}

p {
  margin-top: 0;
}

.jumbotron {
  padding: 20rem 1rem;
  /* margin-bottom: 2rem; */
  background-image: url(/img/bg.png); /* Menambahkan gambar sebagai latar belakang */
  background-size: contain; /* Mengubah dari cover ke contain */
  background-position: center; /* Menengahkan gambar */
  background-repeat: no-repeat; /* Menambahkan ini untuk menghindari pengulangan gambar */
  margin-top: 20px;
}
